body {background-color:rgb(234,238,236);}

a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
   
div.table {
      text-align: left;
    }
    div {
      justify-content: center;
      align-items: center;
      position: relative;
      width: 350px;
      height: 200px;
      border: 15px solid rgb(82,115,148);
      padding: 50px;
      margin: 20px auto;
      vertical-align: middle;
      color: rgb(63,81,103);
      text-align: center;
    }
    a.login_button {
      position: static;
      text-align: center;
      width: 200px;
      height: 40px;
      border: none;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      margin: auto;
      background-color: rgb(82,115,148);
      vertical-align: middle;
      color: white;
    }
    a.login_button:hover {
      background-color: rgb(178,196,217);
    }